<div class="container">
  <div class="box-avatar">
    <img class="avatar" src="../../../assets/imgs/home/avatar.png" alt="avatar">
  </div>
      <ul class="list-description">
        <li class="first-description">Nome: Daniel Alves de Moraes</li>
        <li class="item-description">Origem: Rio de Janeiro</li>
        <li class="item-description">Idade: 29 anos</li>
        <li class="item-description"> Objetivo: busco estabelecer conexões profissionais duradouras, explorar novas oportunidades e impulsionar meu crescimento na carreira de tecnologia .</li>
        <li class="item-description">Curiosidades: adoro jogar aquele multiplayer com amigos , estudar para melhorar minha habilidades , pratico atividades físicas e tenho estudado inglês para poder ter alguma oportunidade internacionalmente e o incrivel que a carreira de desenvolvedor dar essa possibilidade.</li>
      </ul>
  </div>